name: Update Documentation Website

on:
  push:
    branches: [main]


jobs:
  convert_jsdoc_to_website:
    name: Convert JSDoc to Website
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo Running jsdoc now...

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: main
    
    - name: Set up NodeJS
      uses: actions/setup-node@v4
      with:
        node-version: 20
    
    - name: Install dependencies
      run: npm install
    
    - name: Generate website
      run: npm run docs

    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: out
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}